*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root{
  --darkblue: #17212B;
  --blue: #3478AB;
  --grey: #727766;
  --white: #FFFFFF;
}
